.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    align-items: center;
    position: sticky;
    top: 0;
}

.logo{
    width: 150px;
    cursor: pointer;
}

.navbar_menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
    cursor: pointer;
}

.navbar_right{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid #ffbf00;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.navbar button:hover{  
    background: #e6ac00;
    color: #fff;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
    cursor: pointer;
}

.navbar_search_icon{
    position: relative;
    cursor: pointer;
}

.navbar_search_icon .dot{
    position: absolute;
    top: -8px;
    right: -8px;
    min-width: 10px;
    min-height: 10px;
    background-color: #ffbf00;
    border-radius: 5px;
}

@media (max-width: 1050px) {
    .navbar .logo{
        width: 120px;
    }

    .navbar_menu{
        gap: 20px;
        font-size: 17px;
    }

    .navbar_right{
        gap: 30px;
    }
    
    .navbar_right img{
        width: 22px;
    }

    .navbar_right button{
        padding: 8px 25px;
    }
}

@media (max-width: 900px) {
    .navbar .logo{
        width: 120px;
    }

    .navbar_menu{
        gap: 15px;
        font-size: 16px;
    }

    .navbar_right{
        gap: 20px;
    }
    
    .navbar_right img{
        width: 20px;
    }

    .navbar_right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}
@media (max-width: 750px) {

    .navbar_menu{
        display: none;
    }
}
